{% extends 'base.html' %}

{% block title %}About Us - Body Shape Gym{% endblock %}

{% block content %}
    <section class="about-us">
        <center> <h1>About Body Shape Gym</h1></center>
       
        <p>Body Shape Gym was founded with a clear mission: to cultivate a culture of health and fitness within our community by providing exceptional facilities, expert guidance, and unwavering support. Established by Muhammad Baloch, a seasoned fitness professional with over a decade of experience in the industry, our gym is built upon a foundation of expertise, passion, and a genuine commitment to our members' success. We understand that embarking on a fitness journey is a personal and often challenging endeavor, and we strive to create an inclusive and encouraging atmosphere where everyone feels welcome and motivated.</p>
        <p>Our state-of-the-art facility boasts a comprehensive array of cutting-edge equipment, carefully selected to cater to diverse training styles and fitness goals. From advanced strength training machines and extensive free weight areas to a dedicated cardio zone and versatile spaces for group fitness activities, we ensure our members have access to everything they need to achieve their objectives. Furthermore, our team of certified and experienced trainers is dedicated to providing personalized attention, expert instruction, and ongoing support to help you maximize your results and stay on track. At Body Shape Gym, we are more than just a fitness center; we are your partners in achieving a healthier and more fulfilling life.</p>
    </section>
{% endblock %}
<section class="hero"
    <h1>...</h1>
    <p>...</p>
</section>