{% extends 'base.html' %}

{% block title %}Home - Body Shape Gym{% endblock %}

{% block content %}
    <section class="index">
        <center><h1>Embark on Your Fitness Journey with Body Shape Gym</h1></center>
        
        <p class="lead">Welcome to Body Shape Gym, your premier destination for achieving comprehensive health and wellness goals. We are dedicated to providing a supportive and motivating environment where individuals of all fitness levels can thrive. Our state-of-the-art facility is equipped with the latest fitness technology and a diverse range of training areas to cater to your unique needs. Whether you're looking to build strength, improve cardiovascular health, enhance flexibility, or simply adopt a healthier lifestyle, our expert team is here to guide and inspire you every step of the way.</p>

        <p>At Body Shape Gym, we believe in a holistic approach to fitness. Beyond our exceptional equipment, we offer a variety of engaging group fitness classes led by certified instructors, personalized training programs tailored to your specific objectives, and nutritional guidance to complement your efforts. We are more than just a gym; we are a community committed to fostering well-being and empowering our members to reach their full potential. Join us today and take the first step towards a healthier, stronger, and more confident you.</p>
    </section>
{% endblock %}